<%= form_for(@job) do |f| %>
  <% if @job.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@job.errors.count, "error") %> prohibited this job from being saved:</h2>

      <ul>
      <% @job.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :container_needed %><br>
    <%= f.number_field :container_needed %>
  </div>
  <div class="field">
    <%= f.label :cargo %><br>
    <%= f.text_field :cargo %>
  </div>
  <div class="field">
    <%= f.label :origin %><br><p>(Please choose from: PHL, NYC or CAM)</p>
   <%= f.select :origin, Job::LOCATIONS.each_with_index.map{|l,i| [l, l]} %>
  </div>
  <div class="field">
    <%= f.label :job_cost %><br>
    <%= f.text_field :job_cost %>
  </div>
  <div class="field">
    <%= f.label :destination %><br>
    <%= f.text_field :destination %>
  </div>
  <div class="field">
    <%= f.label :job_name %><br>
    <%= f.text_field :job_name %>
  </div>
  <div class="field">
    <%= f.label :bname %><br>
    <%= f.collection_select :boat_id, Boat.order(:bname), :id,:bname, include_blank: true %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
