<!DOCTYPE html>
<html>
<head>
  <title>Boats</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav>
<%= link_to "Home", '/' %>
<%= link_to "All Boats", '/boats' %>
<%= link_to "New Boats", '/boats/new' %>
<%= link_to "All Jobs", '/jobs' %>
<%= link_to "New Jobs", '/jobs/new' %>
<% if user_signed_in? %>
<%= link_to "sign out", destroy_user_session_path, :method => :delete %>
    <%else%>
<%= link_to "sign in", 'users/sign_in' %>
<% end %>
	</nav>


<%= yield %>

</body>
</html>
